@font-face {
	font-family: 'Windlass Extended';
	src: url('fonts/WindlassExtended.eot');
	src: url('fonts/WindlassExtended.eot?#iefix') format('embedded-opentype'),
		url('fonts/WindlassExtended.woff') format('woff'),
		url('fonts/WindlassExtended.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}


@font-face {
	font-family: 'Caxton Extended';
	src: url('fonts/CaxtonBoldExtended-Bold.eot');
	src: url('fonts/CaxtonBoldExtended-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/CaxtonBoldExtended-Bold.woff') format('woff'),
		url('fonts/CaxtonBoldExtended-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Caxton Extended';
	src: url('fonts/CaxtonLtExtended.eot');
	src: url('fonts/CaxtonLtExtended.eot?#iefix') format('embedded-opentype'),
		url('fonts/CaxtonLtExtended.woff') format('woff'),
		url('fonts/CaxtonLtExtended.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Caxton Extended';
	src: url('fonts/CaxtonLtExtended-Italic.eot');
	src: url('fonts/CaxtonLtExtended-Italic.eot?#iefix') format('embedded-opentype'),
		url('fonts/CaxtonLtExtended-Italic.woff') format('woff'),
		url('fonts/CaxtonLtExtended-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

body {
  padding: 20px;
  background-image: url("/static/img/mim_01.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#element {
  margin-top: 5px;
  margin-left: 20px;
  float: left;
}

#element canvas {
  border: 2px solid black;
  border-radius: 20px;
  margin: 0 auto;
}

.hidden {
  display: none !important;
}

button {
  font-size: 100%;
}

#form-div {
  float: left;
  width: 350px;
}

#btn-save {
  margin-left: 75px;
}

textarea {
  width: 300px;
  height: 100px;
  resize:vertical;
}

#red .ui-slider-range { background: #ef2929; }
#red .ui-slider-handle { border-color: #ef2929; }
#green .ui-slider-range { background: #8ae234; }
#green .ui-slider-handle { border-color: #8ae234; }
#blue .ui-slider-range { background: #729fcf; }
#blue .ui-slider-handle { border-color: #729fcf; }

.slider {
  margin: 10px;
}